<%- include('includes/head'); %>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <h1 class="display-1 text-center">Minha Agenda</h1>
        <p class="text-center lead">Crie ou edite seu contato abaixo:</p>
        <%- include('includes/messages') %>
          <div class="responsive-table">
            <% if (contato._id) { %>
              <form action="/contatos/edit/<%= contato._id %>" method="post" class="needs-validation" novalidate>
                <% } else { %>
                  <form action="/contatos/register" method="post" class="needs-validation" novalidate>
                    <% } %>
                    
                      <div class="row mb-3">
                        
                        <div class="col">
                          <select class="form-select" aria-label="nulo" required>
                            <option selected disabled value="">Selecione a turma</option>
                            <option value="1º ETN">1º ETN</option>
                            <option value="2º ETN">2º ETN</option>
                            <option value="3º ETN">3º ETN</option>
                            <option value="1º ETT">1º ETT</option>
                            <option value="2º ETT">2º ETT</option>
                            <option value="3º ETT">3º ETT</option>
                            <option value="1º MEC">1º MEC</option>
                            <option value="2º MEC">2º MEC</option>
                            <option value="3º MEC">3º MEC</option>
                            <option value="1º ADM">1º ADM</option>
                            <option value="2º ADM">2º ADM</option>
                            <option value="3º ADM">3º ADM</option>
                            <option value="1º CONT">1º CONT</option>
                            <option value="2º CONT">2º CONT</option>
                            <option value="3º CONT">3º CONT</option>
                            <option value="1º LOG">1º LOG</option>
                            <option value="2º LOG">2º LOG</option>
                            <option value="3º LOG">3º LOG</option>
                          </select>
                          <div class="invalid-feedback">
                            Selecione a turma.
                          </div>
                        </div>
                        
                        <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                      </div>
                      <div class="mb-3">
                        <div class="row mb-3">
                          <div class="col">
                            <div class="input-group date d-flex align-items-center">
                              <input type="text" class="form-control me-2" placeholder="Data" required><span class="input-group-addon"><i class="bi bi-calendar"></i></span>
                              <div class="invalid-feedback">
                                Selecione a data.
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <select class="form-select" aria-label="TURNO" required>
                              <option selected disabled value="">Turno</option>
                              <option value="Manhã">Manhã</option>
                              <option value="Tarde">Tarde</option>
                              <option value="Noite">Noite</option>
                            </select>
                            <div class="invalid-feedback">
                              Selecione o turno.
                            </div>
                          </div>
                          <div class="col">
                            <select class="form-select" aria-label="BLOCO" required>
                              <option selected disabled value="">Bloco</option>
                              <option value="1º Bloco">1º Bloco</option>
                              <option value="2º Bloco">2º Bloco</option>
                          </div>
                          <div class="invalid-feedback">
                            Selecione o bloco.
                          </div>
                          </select>
                        </div>
                      </div>
                      <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Observações" id="floatingTextarea2"
                          style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Observações</label>
                      </div>
                      <button type="back" class="btn btn-primary">
                        Voltar
                      </button>
                      <button type="submit" class="btn btn-primary">
                        <% if (!contato._id) { %>
                          Reservar
                          <% } else { %>
                            Salvar alterações
                            <% } %>
                      </button>
                  </form>
          </div>


      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  <script>$('.input-group.date').datepicker({
    format: "dd/mm/yyyy",
    todayBtn: "linked",
    language: "pt-BR",
    keyboardNavigation: false,
    daysOfWeekDisabled: "0,6",
    daysOfWeekHighlighted: "1,2,3,4,5",
    autoclose: true,
    todayHighlight: true
});</script>

  <script>(() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()</script>
  <%- include('includes/footer'); %>